apiVersion: apps/v1
kind: Deployment
metadata:
  name: s3-reader
  namespace: lab-iam
spec:
  replicas: 1
  selector:
    matchLabels: {app: s3-reader}
  template:
    metadata:
      labels: {app: s3-reader}
    spec:
      serviceAccountName: s3-reader
      containers:
        - name: awscli
          image: public.ecr.aws/aws-cli/aws-cli:2.17.60
          command: ["/bin/sh","-c"]
          args:
            - |
              set -e
              echo "Caller identity:"
              aws sts get-caller-identity || true
              echo "Try list buckets (adjust permissions as needed):"
              aws s3 ls || true
              sleep 3600
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
