apiVersion: apps/v1
kind: Deployment
metadata:
  name: loadgen
  namespace: lab-jobs
  labels:
    app: loadgen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loadgen
  template:
    metadata:
      labels:
        app: loadgen
    spec:
      containers:
        - name: k6
          image: grafana/k6:0.54.0
          args: ["run", "/scripts/script.js"]
          volumeMounts:
            - name: scripts
              mountPath: /scripts
          resources:
            requests:
              cpu: "500m"
              memory: "256Mi"
            limits:
              cpu: "2000m"
              memory: "512Mi"
      volumes:
        - name: scripts
          configMap:
            name: k6-script
