apiVersion: v1
kind: Service
metadata:
  name: externaldns-test
  namespace: lab-app
  annotations:
    external-dns.alpha.kubernetes.io/hostname: test.example.com  # TODO: change
spec:
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: ClusterIP
